* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'arial', 'sans-serif';

}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden ;
    background-color: rgb(97, 222, 166);
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}


.logo {
    font-size: 25px;
    color: white;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 50px;
}



.navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s ease;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

nav a:hover,
nav a.active {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.icon-img{
    position: relative;
    width: 50px;
    margin: 10;
    cursor: pointer;
}

.icon-img:hover {
    transform: scale(1.1);
}

.navbar ul {
    list-style-type: none;
    background-color: transparent;
    padding: 0%;
    margin: 0%;
    display: inline-flex;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    

}


main{
    padding-top: 100px;
    margin: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: transparent ;
}

.home-content {
    font-size: 20px;
    font-weight: 20;
    line-height: 1.3;
    color: white;

}

.home-content h3 {
    font-size: 50px;
    margin-bottom: 1rem;
    font-weight: 10;

}



.home-img img {
    position: relative;
    width: 500px;
    border-radius: 5%;
}


.container span{
    background-color: rgb(61, 189, 131);
} 

.post-slider{
    position: relative;
}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
    font-family: arial;
    color: white;
    font-size: 40px;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 3em;
    color: white;
    cursor: pointer;
}

.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 3em;
    color: white;
    cursor: pointer;
}

.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem black;
    display: inline-block;
    height: 330px;
    margin: 0px 10px;
    width: 300px

}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 10px;

}



.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.info-title{
    color: black;
    font-family: Arial;
    font-size: 20px;
    margin-top: 5px;
}

.page-wrapper a:hover{
    border-bottom: 2px solid ;

}

.icons{
    font-size: 12px;

}
